# LLM配置
LLM_API_KEY="sk-blmerguppzezjnlqiioprwugiqsksqfrtymundjuhtpipzoo"
LLM_MODEL_ID="Qwen/Qwen2.5-7B-Instruct"
LLM_BASE_URL="https://api.siliconflow.cn/v1"

# 天气API
OPENWEATHER_API_KEY=

# 搜索API
SERPAPI_API_KEY=xxxxx